<div class="columnmiddle">
    <div>
        <app-wallpaper></app-wallpaper>
    </div>
    <div style="display: flex; margin: 0px 50px 0px 50px; width: 1115px;">
        <div style="width: 300px; height: 500px; background-color: white; margin-right: 8px;">
        </div>
        <div style="width: 600px">
            <div *ngFor="let test1 of Postcard">
                <div *ngIf="test1.type=='1'">
                    <app-postcard [test1]=test1></app-postcard>
                </div>
                <div *ngIf="test1.type=='2'">
                    <app-postcard1 [test1]=test1></app-postcard1>
                </div>
            </div>
        </div>
        <div style="width: 299px; height: 500px; background-color: white; margin-left: 8px;">
        </div>
    </div>

    <!--   <div style="border: 0.5px solid black; padding-left: 240px;">
        <app-postcard1></app-postcard1>
    </div>
   <div style="border: 0.5px solid black; height: 200px;">
        <p>Third Block</p>
    </div>
    <select>
        <option value="Wallpaper">Wallpaper</option>
        <option value="Postcard_with_tweet">Postcard with Tweet</option>
        <option value="Postcard_with_video">Postcard with Media</option>
        <option value="None">None</option>
      </select>-->
    <!--<h1 style="text-align: center;">Middle of the Page</h1>-->