<div class="columnleft">
    <ul class="a">
        <li>
            <a href="#">
                <img src="assets/menu.png" alt="Menu" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/newsfeed.png" alt="NewFeeds" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/star.png" alt="Favourites" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/friends.png" alt="Friends" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/music.png" alt="Music" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/weather.png" alt="Weather" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/calendar.png" alt="Calendar" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/community.png" alt="Community" class="chat">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/birthday.png" alt="Brithday" class="chat">
            </a>
        </li>
    </ul>
</div>