<div class="columnright">
    <img src="assets/avatar62-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar67-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar68-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar69-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar70-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar62-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar67-sm.jpg" alt="chat" class="chat">
    <img src="assets/avatar68-sm.jpg" alt="chat" class="chat">
    <img src="assets/chatnew.png" alt="chat" class="chat1">
</div>
