<div class="block">
    <div>
        <img src="assets/top-header1.jpg" alt="wallpaper" class="wallpaper">
    </div>
    <div style="display: flex; background-color: white; width: 100%; height: 80px; margin-bottom: 15px; position: relative;">
        <div class="profile_section">
            <ul class="profile-menu">
                <li>Timeline</li>
                <li>About</li>
                <li>Friends</li>
            </ul>
        </div>
        <div class="profile_section_middle">
            <div class="profile_image">
                <img src="{{profile_image}}" alt="Profile Image" class="profile_image1">
         <!--   <img src="assets/Profileimage.png" alt="Profile Image" class="profile_image1">-->

            </div>
            <div style="font-size: 20px;font-weight: bold;opacity: 0.9; padding-top: 10px;">James Spiegel</div>
            <div style="font-size: 12px; opacity: 0.6;">San Fransico CA</div>
        </div>
        <div class="profile_section">
            <ul class="profile-menu">
                <li>Photos</li>
                <li>Videos</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>
